html {
  height: 100%;
  body {
    height: 100%;
    font-family: Baskerville Normal,"游ゴシック体", Yu Gothic, YuGothic, "ヒラギノ角ゴ Pro", Hiragino Kaku Gothic Pro, "メイリオ", Meiryo, sans-serif !important;
    font-weight: normal;
    #root {
      height: 100vh;
      display: flex;
      flex-direction: column;

      div.main {
        flex: 1 0 auto;
        display: flex;
        flex-direction: column;
        align-items: stretch;
      }
    }
  }
}