@use '../mixin/window';
@use '../mixin/color';

$dark: color.$dark;
$bright: color.$bright;

$link-width: 100px;
$link-margin-side: 10px;
$ul-width: 80%;

footer {
  background-color: $bright;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-flow: column;
  color: $dark;
  width: 100%;

  .footerLinks {
    width: 100%;
    text-align: center;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

    ul {
      list-style: none;
      display: flex;
      width: $ul-width;
      margin: 10px auto;
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap;
      padding-inline-start: 0px;

      .footerLink, .filling-empty-space-childs {
        width: $link-width;
        margin-left: $link-margin-side;
        margin-right: $link-margin-side;
      }

      .footerLink {
        margin-top: 10px;
        margin-bottom: 20px;
        cursor: pointer;
        display: inline-block;
        color: $dark;
        border-bottom: 1px solid white;
      }

      .filling-empty-space-childs {
        height: 0;
      }
    }
  }

  .copyright {
    clear: both;
    width: 100%;
    color: $dark;
    font-size: 0.7em;
    text-align: center;
    p {
      float: left;
      margin: 0 0 0 10px;
    }
  }
}

:export {
  totalWidth: $link-width + $link-margin-side*2;
  ulWidth: $ul-width;
}