@use '../header/var';
@use '../mixin/window';

$height-l: var.$height-l;
$height-s: var.$height-s;

.home {
  .topVideo {

    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    width: 100%;
    height: auto;
    transition: opacity 2s;
    opacity: 1;

    &.played {
      opacity: 0;
    }

    div {
      video {
        z-index: -1;
      }
      justify-content: flex-start;
    }
  }
  .topImage {
    width: 100%;
    height: calc( 100vw / 1080 * 1920);
    margin-top: -$height-s;
    margin-bottom: 10px;
    background-position: center center;
    background-repeat: no-repeat;
    @include window.minsmall{
      margin-top: -$height-l;
    }
  }
  &.pc .topImage {
    height: calc( 100vw / 1920 * 1080);
  }
}

// .home {
//   .topImage {
//     width: 100%;
//     margin-bottom: 10px;
//   }
//   .topVideo {
//     $video-width: 2022;
//     $video-height: 1137;
//     $skip-height: 24px;

//     position: fixed;
//     display: flex;
//     flex-direction: column;
//     justify-content: flex-start;
//     align-items: stretch;

//     width: 100%;
//     height: 100%;
//     background-color: rgba(0, 0, 0, 0.842);
//     transition: opacity 2s;
//     opacity: 1;

//     &.played {
//       opacity: 0;
//     }

//     div {
//       max-height: 100%;
//       display: flex;
//       video {
//         height: 100vw * $video-height / $video-width !important;
//         max-height: calc(100vh - #{$skip-height}) ;
//       }
//       justify-content: flex-start;
//     }
//     button.skip {
//       height: $skip-height;

//       border: none;
//       background: transparent;
//       text-align: right;
//       color: rgb(0, 174, 255);
//       text-decoration: underline;
//       transition: opacity 2s;
//       opacity: 1;

//       &.loading {
//         opacity: 0;
//       }
//       span {
//         background-color: #0000009a;
//         padding: 2px;
//         border-radius: 3px;
//       }
      
//     }
//   }
// }