@use './main';
@use '../mixin/window';
@use '../mixin/color';
@use './form';

$dark: color.$dark;
$bright: color.$bright;

.ticket {
  @include main.setMargin;

  
  .ticket-form{
    button {
      margin: 3px;
      margin-top: 5px;
    }
    h5{
      margin-top: 20px;
    }
    
    @include form.input-textareStyle($dark);

    @include form.submitStyle($bright, $dark);

    @include window.minmiddle{
      input,textarea,select {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
    }
  
    @include window.middlemax{
      input,textarea{
        width : 60%;
      }
      select{
        width: 70%;
      }
    }
  
    @include window.minmax{
      input,textarea{
        width : 50%;
      }
      select{
        width: 60%;
      }
    }
  }
}