@use './main';
@use '../mixin/window';
@use '../mixin/color';
@use '../mixin/hover';
@use './form';

$dark: color.$dark;
$bright: color.$bright;
$link-color: color.$link;
$link-hover: color.$link-hover;

.ticket {
  @include main.setMargin;


  .ticket-form {
    button {
      margin: 3px;
      margin-top: 5px;
    }

    h5 {
      margin-top: 20px;
    }

    @include form.formStyle($dark);

    @include form.submitStyle($bright, $dark);

    .manageTicketTypes {
      display: flex;
      width: 100%;
      flex-direction: row;

      .add,
      .reduce {
        width: 10rem;
        max-width: 40%;
        margin-top: 1rem;

        button {
          width: 100%;
          color: $link-color;
          border: none;
          background: transparent;
          font-size: 2rem;
          border: $link-color 1px solid;
          border-radius: 3px;
          transition: .3s ease;

          @include hover.hover {
            color: $link-hover;
            border-color: $link-hover;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            outline: none;
          }

          &:focus {
            color: $link-hover;
            border-color: $link-hover;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            outline: none;
          }
        }
      }

      .add {
        margin-right: auto;
      }

      .reduce {
        margin-left: auto;
      }

    }

    @include window.minmiddle {

      input,
      textarea,
      select {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
    }

    @include window.middlemax {

      input,
      textarea {
        width: 60%;
      }

      select {
        width: 70%;
      }
    }

    @include window.minmax {

      input,
      textarea {
        width: 50%;
      }

      select {
        width: 60%;
      }
    }
  }

  .ticket-info {
    &.commingsoon {
      display: flex;
      div {
        margin-top: 2.4rem;
        margin-left: 1rem;
        width: 100%;
        // text-align: center;
        font-size: 2rem;
      }
    }
  }
}