@use './var';

// must write its and div's width and height, color when using
// .burger {
//   width: ;
//   height: ;
//   div {
//     width: ;
//     height: ;
//     background-color: ;
//   }
// }
.burger {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;

  &:focus {
    outline: none;
  }

  div {
    border-radius: 10px;
    transition: all 0.3s linear;
    position: relative;
    transform-origin: 1px;
  }
}