@use './var';
@use '../mixin/color';

$height: var.$height;

$color: color.$bright;

header {
  height: $height;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  &.nothome {
    position: relative;
  }
  .logo {
    width: 10rem;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    *{
      color: $color;
    }
  }
}