@use './var';
@use '../mixin/color';
@use '../mixin/window';

$height-l: var.$height-l;
$height-s: var.$height-s;

$color: color.$bright;

header {
  height: $height-s;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  @include window.minsmall {
    height: $height-l;
  }
  &.nothome {
    position: relative;
  }
  .logo {
    width: 8rem;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    *{
      color: $color;
      font-size: 2rem;
    }

    @include window.minsmall{
      width: 10rem;
      h1 {
        font-size: 2.5rem;
      }
    }
  }
}