@use './var';
@use '../mixin/window';
@use '../mixin/media';

$height: var.$height;
$color-dark: var.$color-dark;
$color-bright: var.$color-bright;

.sidebarContainer {
  position: fixed;
  top: 0;
  right: 0;
  height: $height;
  width: 130px;

  @include media.widthmin(window.$iphoneSE) {
    width: 165px;
  }

  .sidebarMenu {
    $side: 10%;
    position: fixed !important;
    width: 65%;
    max-height: 100%;
  
    @include window.smallmiddle {
      width: window.$small - 120px;
    }
    @include window.middlebig{
      width: 400px;
    }
    @include window.minbig {
      width: window.$small - 100px;
    }
    @include window.hmaxsmall {
      width:60%;
    }

    display: flex;
    flex-direction: column;
    justify-content: center;


    // max-height: 500px;
    background-color: $color-bright;
    padding-top: $height;
    padding-right: $side;
    padding-bottom: 3rem;
    @include window.smallmax {
      padding-left: $side;
    }

    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 80%;
      max-height: 100vh;
      min-height: 350px;

      margin-block-start: 0;
      margin-block-end: 0;
      padding-inline-start: 40px;

      * {
        display: block;
        padding: 0.5em 0;
        font-size: 1.6rem;
        text-decoration: none;
        color: $color-dark;
        @include window.hmaxsmall {
          font-size: 6.1vh;
          padding: 0;
        }
      }
    }
  }

  .sidebarContent {
    z-index: 3;
    display: flex;
    flex-direction: row-reverse;
    height: $height;
    .sidebarButton {
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
      background-color: $color-bright;
      color: $color-dark;
      width: auto;
      height: $height;
      .buttonText {
          display: inline-block;
          margin-left: 1rem;
          @include media.widthmin(window.$iphoneSE) {
            margin-left: 2rem;
          }
      }
      button.burger {
        margin: 1em;
        width: 2rem;
        height: 2rem;
        div {
          width: 2rem;
          height: 0.25rem;
        }

        @include media.widthmin(window.$iphoneSE) {
          margin-right: 2rem;
        }
      }
    }
  }
}