@use './var';
@use  '../mixin/color';
@use '../mixin/window';

$height-l: var.$height-l;
$height-s: var.$height-s;
$color-dark: color.$dark;
$color-bright: color.$bright;

.sidebarContainer {
  $burger-size-s: $height-s * 0.6;
  $burger-size-l: $height-l * 0.6;
  position: fixed;
  top: 0;
  right: 0;
  height: $height-s;
  width: 130px;

  @include window.minsmall {
    height: $height-l;
  }

  .sidebarMenu {
    $side: 12%;
    position: fixed !important;
    width: auto;
    max-height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;


    // max-height: 500px;
    background-color: $color-bright;
    padding-top: $height-s;
    padding-right: $side;
    padding-bottom: 3rem;

    @include window.minsmall {
      padding-top: $height-l;
    }

    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      flex: 1 0  auto;

      margin-block-start: 0;
      margin-block-end: 0;
      padding-inline-start: 40px;

      max-height: 700px;

      * {
        display: block;
        text-decoration: none;
        color: $color-dark;

        font-size: 6.1vh;
        @include window.hsmallmax {
          font-size: 2rem;
        }
        @include window.hminmax {
          font-size: 3.1vh;
        }
      }
    }
  }

  .sidebarContent {
    z-index: 3;
    display: flex;
    flex-direction: row-reverse;
    .sidebarButton {
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
      background-color: $color-bright;
      color: $color-dark;
      width: auto;
      padding-left: 1rem;
      .buttonText {
          display: inline-block;
      }
      button.burger {
        $burger-margin: ($height-s - $burger-size-s) / 2;
        margin: $burger-margin;

        width: $burger-size-s;
        height: $burger-size-s;
        div {
          width: $burger-size-s;
          height: $burger-size-s / 8;
          background-color: $color-dark;
        }

        @include window.minsmall {
          $burger-margin: ($height-l - $burger-size-l) / 2;

          width: $burger-size-l;
          height: $burger-size-l;
          div {
            width: $burger-size-l;
            height: $burger-size-l / 8;
            background-color: $color-dark;
          }
        }
      }
    }
  }
}